<!-- Faicilites card for flats show page -->
<div class="flats-facility-card">
  <div><i class="fas fa-campground"></i><p><%= @flat.flat_type %></p></div>
  <div><i class="fas fa-bed"></i><p><%= @flat.sleeps %></p></div>
  <div><i class="fas fa-euro-sign"></i>/night<p><%= @flat.price_per_night %></p></div>
  <div><i class="fas fa-bolt"></i><p><%= @flat.electricity %></p></div>
  <div><i class="fas fa-tint"></i><p><%= @flat.drinking_water %></p></div>
</div>
