<div class="container">
  <%= simple_form_for @flat do |f| %>
  <%= f.error_notification %>
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-8">
      <%= f.input :name %>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8">
      <%= f.input :address, input_html: { id: "address-input"} %>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8">
      <%= f.input :sleeps, input_html: { min: '1' } %>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8">
      <%= f.input :flat_type, collection: ['Yurt', 'Tipi', 'Cabin', 'Refuge', 'Barn', 'Shed'], input_html: { multiple: false }, prompt: "Select flat type" %>
    </div>
    <div class="col-sm-6 col-lg-8 d-flex flex-row">
      <div class="firstcheckbox">
        <%= f.input :electricity%>
      </div>
      <div class="secondcheckbox ml-3">
        <%= f.input :drinking_water %>
      </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8">
      <%= f.input :description %>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8">
      <%= f.input :price_per_night, input_html: { min: 10 , step: 5 } %>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8">
      <%= f.input :photo, as: :file %>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8 d-flex flex-row justify-content-between">
      <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
      <%= f.button :submit, class: "btn-primary" %>
    </div>
  </div>
  <% end %>
</div>
