<div class="container">
  <div>
    <%= simple_form_for :search, url: flats_path, method: :get do |f| %>
      <div class="mt-3 search-form-control form-group w-50">
        <input id="address-input" value="<%= @search %>" class="form-control string required" placeholder="Location" type="text" name="search" id="search_query" />
        <button name="button" type="submit" class="btn btn-dark nomad-button">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    <% end %>
  </div>
  <h1><%= @message %></h1>
  <div>
    <%= render 'map' , { search_location: @searchlocation } unless @flats == [] %>
    <%= render 'flat_grid', {flats: @flats} unless @flats == [] %>
  </div>
</div>

