
<div class="container mt-3 shadow rounded">
  <div class="w-100 mt-3">
    <br>
    <div class="d-flex justify-content-center">
      <h1><%= @flat.name %></h1>
    </div>
  </div>
    <!--  edit & delete buttons -->
    <!-- Commented out until we install pundit! -->
    <!-- <div class="d-flex"> -->
    <%#= link_to "Edit", edit_flat_path(@flat), class: "btn btn-flat mr-2" %>
    <%#= link_to "Delete", flat_path(@flat), method: :delete,
    data: { confirm: "Are you sure?" }, class: "btn btn-danger"  %>
  <!-- </div> -->
  <!-- carousel for show page -->
  <%= render "nomad_carousel" %>
  <!-- flat address at bottom of carousel -->
  <h4><%= @flat.address %></h4>
  <div class="w-100 mt-3">
    <!-- Commented out until we install pundit! -->
    <!-- <h4>Host: <%= @flat.user.first_name %></h4> -->
    <!-- Flats_facility card -->
    <%= render 'flats_facitily_card' %>
    <h3><%= @flat.description %></h3>
  <p><%= @flat.details %></p>
  </div>

  <div class="button-center">
    <% if user_signed_in? %>
      <%= render 'bookings/new', { flat: @flat, booking: Booking.new} %>
    <% else %>
      <button name="login" type="button" class="btn btn-light nomad-button" data-toggle="modal" data-target="#loginModal">Login to book
      </button>
    <% end %>
  </div>
  <!-- Review form -->
  <%= render 'review_form' %>
  <!-- Reviews -->
  <%= render 'reviews_list' %>
</div>
