<div class="your-flats-nav">
  <div>
    <h2>Your flats...</h2>
  </div>
  <%= link_to new_flat_path, id: "my_link" do %>
    <div class="add-flats-btn">
      <i class="fas fa-plus"></i>
      <p>ADD FLAT</p>
  </div>
  <% end %>

</div>
<div class="row d-flex">
  <% current_user.flats.each do |flat| %>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <a href="<%= flat_path(flat) %>" class="card-link"></a>
        <% if flat.photos.attachments.any? %>
          <%= cl_image_tag flat.photos.first.key, alt: "First slide", class: "card-img-top" %>
        <% else %>
          <img src="https://images.unsplash.com/photo-1536395155544-a3ba483e0b9b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80" class="card-img-top">
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= flat.name %></h5>
          <p class="card-text"><%= flat.description %></p>
          <%= link_to 'details', flat_path(flat) %>
          <%= link_to 'edit', edit_flat_path(flat) %>
          <%= link_to "delete", flat_path(flat), method: :delete  %>
        </div>
      </div>
    </div>
  <% end %>
</div>

